* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #160430;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
}

.side_bar {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 50px;
    background: linear-gradient(to bottom, #160430, rgba(79, 23, 148, 0.227), rgba(0, 0, 0, 0.158));
    min-height: 100vh;
    position: relative;
}

.side_bar h2 {
    margin-bottom: 20px;
}

.side_bar button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #501794, #3E70A1);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.content {
    background: radial-gradient(circle at top, rgba(79, 23, 148, 0.137) 10%, black);
    padding: 20px;
    width: 100%;
}

#addPage {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(30px);
    max-width: 600px;
    margin-inline: auto;
    padding: 40px;
    margin-top: 100px;
    border-radius: 10px;

    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
}

#employeeForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#employeeForm input {
    height: 50px;
    padding-left: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
}

#employeeForm button {
    background: linear-gradient(to right, #501794, #3E70A1);
    padding: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 25px;
    cursor: pointer;
}

#employeeForm button:hover {
    transition: all 1s ease;
    scale: 0.95;
    background: linear-gradient(to right, #3E70A1, #501794);
}

#listPage {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(30px);
    max-width: 700px;
    margin-inline: auto;
    padding: 40px;
    margin-top: 100px;
    border-radius: 10px;

    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    input {
        height: 40px;
        padding-left: 20px;
        border-radius: 10px;
        outline: none;
        border: none;
        width: 100%;
    }
}

table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

thead tr th {
    padding-bottom: 20px;
}

#employeeTable tr td {
    text-align: center;
    padding-block: 20px;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
}


.delete_btn,
.edit_btn {
    background-color: red;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit_btn {
    background-color: blue;
}

.menu {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;

    i {
        font-size: 30px;
    }
}

.side_bar span {
    display: none;
}

#addPage,
#listPage {
    animation: fade 0.4s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}


@media screen and (max-width:800px) {
    .side_bar {
        /* display: none; */
        position: absolute;
        max-width: 400px;
        min-height: 300px;
        top: 50px;
        right: 50px;
        /* background-color: #501794; */
        border-radius: 20px;
        opacity: 0;
        scale: 0.9;
        transition: all 0.3s ease;
    }

    .menu {
        display: block;
    }

    .content {
        min-height: 100vh;
    }

    .side_bar span {
        position: absolute;
        display: inline-block;
        top: 15px;
        right: 15px;
    }

}

@media screen and (max-width:500px) {

    #addPage h1,
    #listPage h1 {
        font-size: 30px;
    }

    .side_bar {
        max-width: 300px;
    }
}

@media screen and (max-width:380px) {

    .side_bar {
        max-width: 250px;
    }
}