*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 95%;
    box-shadow: rgba(255, 255, 255, 0.2) -20px 8px 24px;
    border: 0.5px solid white;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    min-height: 70vh;
}
body{
    background-color: #000000;
}
body > h1{
    margin-top: 50px;
    color: white;
    text-align: center;
}
.box{
    flex-basis: 347.594px;
    flex-grow: 1;
    min-height: 523px;
    border: 1px solid red;
    padding: 20px;
    input{
        height: 30px;
        width: 100%;
        padding-left: 20px;
    }
}
.data-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-box-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-1{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.data-div{
        ul{
            list-style: none;
            background-color: red;
            color: white;
            padding: 10px 20px 10px;
            border-radius: 10px;
            position: relative;
            li{
                padding: 3px 0;
            }
            span{
                position: absolute;
                right: 10px;
                top: 7px;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
.removeAll-btn{
    margin-top: auto;
    margin-left: auto;
    display: flex;
    gap: 15px;
    button{
        padding: 10px 20px;
        background-color: lightcoral;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 10px;
    }
}
/* box 2  */
.box-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn-2{
    margin-left: auto;
    margin-top: auto;
    button{
        padding: 10px 20px;
        background-color: lightcoral;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 10px;
    }
}

.print-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
     ul{
            list-style: none;
            background-color: red;
            color: white;
            padding: 10px 20px 10px;
            border-radius: 10px;
            position: relative;
            li{
                padding: 3px 0;
            }
        }
}
.box-3 button{
    width: 100%;
    padding: 10px 20px;
        background-color: lightcoral;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 10px;
}
.box-3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    p{
        transition: all 1s linear;
        padding: 10px;
        background-color: blue;
        color: white;
        text-align: center;
        border-radius: 10px;
        display: none;
    }
}
@media screen and (max-width:1170px) {
    .container{
        flex-wrap: wrap;
    }
}