* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F4F0;
    font-family: "Poppins", sans-serif;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.top span {
    font-size: 28px;
    font-weight: 600;
}

.middle {
    height: 104px;
    border-radius: 10px;
    max-width: 800px;
    display: flex;
    background-color: #FF7A7A;
    margin-inline: auto;
    position: relative;
    margin-block: 100px;
}

.positive_percentage {
    background-color: #35BD3A;
    height: 100%;
    border-radius: 10px;
    width: 70%;
}

.negative_percentage {
    background-color: #FF7A7A;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 30%;
}

.score {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 130%;
    font-size: 20px;
    font-weight: 600;
}

.end{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.end button {
    background-color: #35BD3A;
    color: white;
    padding: 33px 60px 33px 33px;
    font-weight: 700;
    font-size: 25px;
    border: none;
    border-radius: 9px;
    box-shadow: inset -14px -14px 0px 0px #01AB08;
    cursor: pointer;
    margin-top: 50px;
}

.container{
    padding: 20px;
}

@media screen and (max-width:550px) {
    .end h2{
        font-size: 18px;
    }
    .end button{
        padding: 23px 50px 23px 23px;
        font-size: 18px;
    }
}