*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F4F0;
      font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container button{
    background-color: #35BD3A;
    color: white;
    padding: 23px 32px 23px 49px;
    font-weight: 700;
    font-size: 40px;
    border: none;
    border-radius: 9px;
    box-shadow: inset -14px -14px 0px 0px #01AB08;
    cursor: pointer;
    margin-top: 50px;
}

.container p:nth-child(3){
    font-size: 24px;
    font-weight: 600;
    margin-top: 150px;
    margin-bottom: 100px;
}

.container p:nth-child(4){
    font-size: 12px;
    font-weight: 600;
    color: #858585;
}

.container img{
    width: 590px;
}

@media screen and (max-width:900px) {

    .container button{
        padding: 23px 32px 23px 49px;
        font-size: 40px;
    }
}

@media screen and (max-width:600px) {
    .container button{
        padding: 23px 22px 23px 29px;
        font-size: 30px;
    }
    .container img{
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .container button{
        padding: 20px;
        font-size: 20px;
    }
}