@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

:root {
    --primary-bg-color: #f59e0b;
    --color: #fff;
    --para-color: #64748b;
}

body {
    background-color: #f8fafc;
    margin: 20px;
}

header {
    padding-top: 70px;
}

.menu-lists {
    margin-top: 32px;
    margin-bottom: 64px;
}

.header-heading {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 0;
    }

    span {
        border: 2px solid var(--primary-bg-color);
        border-radius: 1px;
        display: inline-block;
        width: 130px;
    }
}

.menu-lists {
    display: flex;
    gap: 10px;
    justify-content: center;

    button {
        background-color: var(--primary-bg-color);
        color: var(--color);
        border: none;
        border-radius: 4px;
        padding: 8px 15px;
        cursor: pointer;
    }
}

img {
    width: 100%;
}

.container {
    max-width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-content {
    padding: 24px;
    background-color: white;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h5 {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    button {
        background-color: var(--primary-bg-color);
        color: var(--color);
        border: none;
        padding: 5px 10px;
        border-radius: 4px;

    }
}

.card-description p {
    color: var(--para-color);
    line-height: 2;
    margin-bottom: 0;
}

@media screen and (max-width:1120px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    header{
        padding-top: 60px;
    }
}
@media screen and (max-width:780px) {
    .container{
        grid-template-columns: 1fr;
    }
    header{
        padding-top: 50px;
    }
}
@media screen and (max-width:400px) {
    .header-heading {
        h1{
            font-size: 40px;
        }
    }
    .menu-lists{
        flex-wrap: wrap;
    }
    .menu-lists > *{
        flex-basis: 100%;
    }
}
